.add-option {
    background-color: #fff;
    color: blue;
    text-align: center;
  }

.central {
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
}

  .display-6 {
    margin-top: 10px;
  }

  .save-option {
    background-color: blue;
    color: white;
  }

.icon-background2 {
    color:  #0288D1;
 }
 
 .fa-info {
  color:white;
  font-size: 10px;
 }
 
 .fa-circle {
    font-size: 20px;
 }