<div class="text-center">
  <H1>Taxonomy</H1>
  Select Company:
  <div>
    <select [(ngModel)]="selectedCompanyName" (ngModelChange)="onCompanyChange($event)">
      <option *ngFor="let company of companies" [ngValue]="company.name">{{company.name}}
      </option>
      <option class="add-option">+ Add</option>
    </select>
  </div>
  <br>
  <div *ngFor="let d of this.taxonomy | keyvalue | orderBy:'orderNr'">
    <!-- Dimensions -->
    <h4 class="display-6">{{d.key}} <sup *ngIf="d.value.mandatory">m</sup><sup *ngIf="!d.value.mandatory">o</sup></h4>
    <!-- DimensionValues-->

    <div class="form-check form-check-inline" *ngFor="let dv of d.value">
      <input type="checkbox" class="form-check-input" id={{dv.value}} autocomplete="off" [value]="dv.value"
        [checked]=dv.selected (click)="onCheckboxChange($event, dv, d.key)" [disabled]="!dv.selectable">
      <label class="form-check-label" for={{dv.value}}> {{dv.value}}
        <sup *ngIf="dv.exclusive">e</sup>
        <sup *ngIf="dv.dependency && dv.exclusive">, </sup>
        <sup *ngIf="dv.dependency">d</sup>
      </label>
    </div>
  </div>
  <br>
  <button class="save-option"(click)="checkMandatoryValues()">Save</button>
</div>