<div style="margin: 10px;">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">

        <!-- Title -->
        <h1>Log In</h1>

        <!-- Form -->
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="logIn()">

              <!-- Email address / Username -->
              <div class="form-group">
                <label for="inputEmail">
                  Email address / Username
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail"
                  placeholder="Enter Email / Username"
                  formControlName="login">
              </div>

              <!-- Password -->
              <div class="form-group">
                <label for="inputPassword">
                  Password
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword"
                  placeholder="Password"
                  formControlName="password">
              </div>

              <!-- Keep signed in Checkbox -->
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkBox" formControlName="keepSignedIn">
                <label class="form-check-label" for="checkBox">
                  Keep me signed in
                </label>
              </div>

              <!-- Errors -->
              <div>
                <small *ngIf="error" class="form-text">
                  <i style="color: red;">{{error}}</i>
                </small>
              </div>

              <!-- Log In Button-->
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!(form.getRawValue().login && form.getRawValue().password)">
                  LOG IN
              </button>

              <!-- Create account link-->
              <div>
                <a routerLink="/signup">
                  Create new account
                </a>
              </div>
              

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
