<div style="margin: 10px;">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">

        <!-- Title -->
        <h1>Change password</h1>

        <!-- Form -->
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="changePassword()" *ngIf="form.getRawValue() as f">

              <!-- Old password-->
              <div class="form-group">
                <label for="inputPassword">
                  Old Password
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword"
                  placeholder="Old Password"
                  formControlName="oldPassword">
              </div>

              <!-- New Password -->
              <div class="form-group">
                <label for="inputPassword">
                  New Password
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword"
                  placeholder="New Password"
                  formControlName="newPassword">

                <!-- Password strength -->
                <small *ngIf="f.newPassword" class="form-text">
                  <i
                    *ngIf="user.passwordStrength(f.newPassword) as strength"
                    [style]="'color: ' + ['red', 'red', 'orange', 'green'][strength - 1]">
                      {{'•'.repeat(strength) + " " + ['Very weak', 'Weak', 'Medium', 'Strong'][strength -1]}}
                  </i>
                </small>

              </div>

              <!-- New Password confirmation -->
              <div class="form-group">

                <label for="inputRepeatPassword">
                  Repeat New Password
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="inputRepeatPassword"
                  placeholder="Repeat New Password"
                  formControlName="repeatPassword">

                <!-- Repeated password errors -->
                <small
                  *ngIf="f.oldPassword && f.newPassword && f.repeatPassword && f.newPassword !== f.repeatPassword"
                  class="form-text">
                    <i style="color: red;">Passwords don't match</i>
                </small>

              </div>

              <!-- Change password button -->
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!(f.oldPassword && f.newPassword && f.repeatPassword)">
                  CHANGE PASSWORD
              </button>

              <!-- Change password Errors -->
              <small *ngIf="error" class="form-text">
                <i style="color: red;">{{error}}</i>
              </small>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
