.rating-star-back {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: gray;
}

.rating-star-back-filled {
  @extend .rating-star-back;
  color: #FAB81E;
}

.rating-star-front {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #FAB81E;
}
