@import '../../../styles.scss';
@import '../listings.component.scss';

$btn-types: info, success, warning;
$detail-window-type-colors: (
  info: #17a2b8,
  reviews: #28a745,
  transactions: #ffc107
);

.detail-tab-radio-button {
  @extend .btn;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: hidden;
  box-shadow:none !important;
  outline:0px !important;
}

@each $btn-type in $btn-types {
  .detail-tab-radio-button--#{$btn-type}-selected {
    @extend .detail-tab-radio-button;
    @extend .btn-#{$btn-type} !optional;
  }
  .detail-tab-radio-button--#{$btn-type} {
    @extend .detail-tab-radio-button;
    @extend .btn-outline-#{$btn-type} !optional;
  }
}

@each $type, $color in $detail-window-type-colors {
  .detail-window--#{$type} {
      border-style: solid;
      border-radius: 12px;
      border-width: 1px;
      padding: 10px;
      border-color: $color;
  }
}
