<div class="container-fluid" style="max-width: none;">
    <div class="row">
        <div class="col" style="max-width: 300px;">
            <h1>Messages</h1>
        </div>

        <div class="col" style="text-align: center;">
            <h1>{{ selectedUserName }}</h1>
        </div>
    </div>
    <div class="row" style="height:87vh">

      <div class="col" style="padding-left: 0px;max-width: 300px;">

        <!-- Last Messages Window -->
        <ul class="list-group">
          <li *ngFor="let m of lastMessages" class="list-group-item" style="padding:0px"
            [class.active]="m.receiverID === selected || m.senderID === selected" aria-current="true">

            <!-- -->
            <button type="button" class="btn btn-secondary-outline d-inline-block text-truncate" 
                style="width:100%;height:100%;text-align:left" (click)="selectPerson(m)">
                <h6>
                    {{ m.senderID === user.getId() ? m.receiver : m.sender }}
                </h6>
                {{ m.message }}
            </button>
          </li>
        </ul>
      </div>

      <div class="col">

        <!-- Chat Window -->
        <div class="card" style="height:100%">
            <div class="card-body">

                <!-- Chat -->
                <ul #chat class="list-group overflow-auto" style="max-height: 80vh;margin-bottom: 20px;">
                    <li *ngFor="let m of messages" class="list-group-item no-border">
                        <div class="row">
                            <!-- Message -->
                            <div class="col d-flex" [class.flex-row-reverse]="m.senderID !== selected">
                                <p class="message">
                                    {{ m.message }}
                                </p>
                            </div>
                            <!-- Date -->
                            <div class="col" style="max-width: 100px;">
                                <small>{{ simplifyDate(m.createdAt) }}</small>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Send Messages Input-->
                <div *ngIf="selected >= 0" style="position:absolute;bottom:0;right:0;left:0">
                    <div class="input-group" [class.disabled]="locked">
                        <input type="text"
                            class="form-control" 
                            [(ngModel)]="message" 
                            placeholder="Write your message here..." 
                            aria-describedby="send-message-button"
                            (keypress)="keyPressed($event)"
                        >
                        <button class="btn btn-primary" type="button" id="send-message-button" (click)="sendMessage()">Send</button>
                    </div>
                </div>
                
            </div>
          </div>
      </div>
    </div>
  </div>
<div>
    
</div>
