.no-border {
    border-style: none;
}

.message {
    max-width: 60%;
    height: fit-content;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #0d6efd;
}